VITE_CPA_API_BASE_URL=https://cpa-server-vtel.onrender.com/api
VITE_CPA_API_KEY=
VITE_CPA_API_TIMEOUT_MS=60000

VITE_FX_API_BASE_URL=https://api.currencyfreaks.com/v2.0
VITE_FX_API_KEY=
VITE_FX_API_TIMEOUT_MS=10000

VITE_TARGET_CURRENCY=USD